TINVEST_TOKEN=t.TmSZCBt9Blzz23o0zGKgB7Kk6FoCoVvJjxG5a0V9ddBI730QKqxYDwuAqYsJb0GkXg4DbdfuSDAuiG6MX0MXdA

TELEGRAM_BOT_TOKEN=8333978830:AAEOmhBPMc8k8jsPb7hNWJ_e2yacTQ5lJ9c
TELEGRAM_CHAT_ID=2015849739

DB_PATH=data/tinvest.db

LOG_LEVEL=INFO