################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs

.venv/
.env
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
